.input {
  position: relative;
  input {
    border-radius: 5px;
  }
  &__label {
    font-size: 14px;
    position: absolute;
    top: 3px;
    left: 0;
    margin: 7px 11px;
    padding: 0 6px;
    color: #444;
    background: transparent;
    backdrop-filter: blur(50px);
    transition: all 200ms;
    opacity: 0.35;
    &:hover{
      cursor: text;
    }
  }
  
  label.focused__mode {
    font-size: 70%;
    transform: translate3d(0, -110%, 0);
    opacity: 1;
    color: #219bb2;
  }

  &__wordsCount {
    display: block;
    text-align: right;
    margin-bottom: -1rem;
    color: #8c8d8f;
    position: relative;
    top: -24px;
    right: 18px;
    font-size: 13px;
  }
}

