.authLayout{
  min-height: calc(100vh - 68.5px);
  background: #f4fafb;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 8rem;
  align-content: flex-start;
  .message {
    width: 40%;
    font-weight: bold;
    font-size: 25px;
  }
  .form {
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }
  @media only screen and (max-width: 768px) {
    padding: 1rem;
    .message, .form {
      padding: 0;
      margin: 0;
      width: 100%;
    }
    .message{
      margin-bottom: 0.4rem;
    }
  }  
}