node_modules
.next
*.log
.env
.env.local
coverage/
*-lock.json
out/
.DS_Store
cypress/videos/
cypress/screenshots/
.nyc_output/
*.lock
public/sw.js

.vscode/
report*

**/public/workbox-*.js
**/public/sw.js

**/public/workbox-*.js.*
**/public/sw.js.*
