@import "styles/_mixins";
@import "styles/_variables";

.index-page {
  background: url("../../public/home-abstract-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 13.9rem;
}

.index-container {
  display: flex;
  justify-content: space-between;
  min-height: inherit;
  background: #f4fafd;

  .index__intro {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto 0 auto 3rem;
    flex-grow: 1;

    @include mediaLg {
      margin: auto 0 auto 8vw;
      flex-shrink: 0;
      &--info {
        button {
          margin-top: 2rem;
          padding: 1.2rem 1.4rem;
          display: flex;
          align-items: center;
          font-size: 10pt;
          font-weight: 500;
        }

        h1 {
          font-size: 20pt;
          font-weight: 500;
          line-height: 1.3;
        }
      }
    }

    @include mediaXL {
      margin: auto 0 auto 8vw;
      flex-grow: 1;

      &--info {
        button {
          margin-top: 4rem;
          padding: 1.6rem 1.6rem;
          display: flex;
          align-items: center;
          font-size: 12pt;
          font-weight: 500;
        }

        h1 {
          font-size: 2.6vw;
          font-weight: 500;
          line-height: 1.3;
        }
      }
    }

    @include mediaMd {
      margin: auto 1.5rem;
      display: inline-block;
      order: 1;
      &--info {
        padding: 2rem 0;
        button {
          margin-top: 1.5rem;
          padding: 1.2rem 1.5rem;
          display: flex;
          align-items: center;
          font-size: 15px;
        }

        h1 {
          font-size: 20pt;
          font-weight: 500;
          line-height: 1.3;
        }
      }
    }
  }

  .index__landing__picture {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    img {
      width: 55vw;
      display: block;
      position: relative;
    }

    @include mediaMd {
      flex-grow: 0;
      img {
        width: 100%;
        display: block;
        position: relative;
      }
    }

    @include mediaXL {
      flex-grow: 2;
    }

    @include mediaLg {
      flex-shrink: 3;
    }
  }

  @include mediaMd {
    flex-direction: column;
  }
}

.how-it-works{
  padding: 0 8vw;
}

.causes {
  margin: 100px auto;
  padding: 0 8vw;
  &__grid {
    display: grid;
    gap: 2rem;
    &--mobile {
      display: none;

      @include mediaMd {
        display: block;
        width: 100vw;
      }
    }

    &--lg {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @include mediaMd {
        display: none !important;
      }
    }

    &--item {
      @include mediaMd {
        margin-right: 50px;
      }
    }
  }

  .more {
    &__causes {
      float: right;
      margin-top: 20px;

      @include mediaMd {
        float: none;
        margin: 20px 10%;
        text-align: center;
      }
    }
  }
}

.short__intro {
  background: $color-primary-light url("../../public/short-intro-bg.svg")
    no-repeat center/cover;
  background-position: 0 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  &--container {
    margin: 50px 10%;
    position: relative;
    padding: 30px 0;
    display: flex;
    flex-flow: column;
    align-items: center;

    h1 {
      font-size: 30px;
      font-style: normal;
    }
  }
  &--video {
    margin-top: 50px;

    iframe {
      width: 900px;
      height: 500px;
      border: none;
      border-radius: 5px;
      margin: auto;

      @include mediaMd {
        width: 500px !important;
        height: 300px;
      }

      @include mediaSm {
        width: 300px !important;
      }
    }
  }

  &--title {
    text-transform: uppercase;

    @include mediaMd {
      font-size: 1rem;
    }
  }

  &--button {
    text-align: center;
    margin-top: 20px;

    button {
      display: inline-block;
    }
  }
}

.mission {
  display: flex;
  &--with-image {
    img {
      width: 100%;
    }
  }
  @include mediaMd {
    height: 20vh;
    &--with-image {
      position: relative;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  &__item {
    flex-basis: 50%;
    $parent: &;
    &:nth-child(2) {
      background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.2) -279.41%,
          rgba(117, 194, 208, 0.140049) -50.37%,
          rgba(25, 154, 177, 0.1) 102.64%
        ),
        #219bb2;
      padding: 40px 5%;
      color: $color-light;
      display: grid;
      place-content: center;

      @include mediaMd {
        p {
          font-size: 0.5rem;
          font-weight: 100;
        }
      }
      #{$parent}--title {
        position: relative;
        margin-top: -1px;
        color: $color-light;

        @include mediaMd {
          display: none;
        }

        h2 {
          color: $color-light;
          margin-bottom: 0;
        }
        img {
          position: absolute;
          top: 5px;
          left: -20px;
          width: 35px;
          height: 35px;
        }

        span {
          font-size: 0.8rem;
          transform: translateY(-20px) !important;
        }
      }
    }
  }
}
