@import "styles/_mixins";
@import "styles/_variables";

.index-page {
  background: url("../../public/home-abstract-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 13.9rem;
}

.index-container {
  display: flex;
  justify-content: space-between;
  min-height: inherit;
  background: #f4fafd;

  .index__intro {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto 0 auto 3rem;
    flex-grow: 1;

    @include mediaLg {
      margin: auto 0 auto 8vw;
      flex-shrink: 0;
      &--info {
        button {
          margin-top: 2rem;
          height: 50px;
          font-size: 12pt;
          font-weight: 500;

          span {
            display: initial;
            margin: 0 0.5rem;
          }
        }

        h1 {
          font-size: 2.6vw;
          font-weight: 500;
          line-height: 1.3;
        }
      }
    }

    @include mediaXL {
      margin: auto 0 auto 8vw;
      flex-grow: 1;

      &--info {
        button {
          margin-top: 4rem;
          height: 56px;
          font-size: 12pt;
          font-weight: 500;

          span {
            display: initial;
            margin: 0 0.5rem;
          }
        }

        h1 {
          font-size: 2.6vw;
          font-weight: 500;
          line-height: 1.3;
        }
      }
    }

    @include mediaMd {
      margin: auto 1.5rem;
      display: inline-block;
      order: 1;
      &--info {
        padding: 2rem 0;
        button {
          margin-top: 1rem;
          height: 56px;
          font-size: 12pt;
          font-weight: 500;

          span {
            display: initial;
            margin: 0 0.5rem;
          }
        }

        h1 {
          font-size: 17pt;
          font-weight: 500;
          line-height: 1.3;
        }
      }
    }
  }

  .index__landing__picture {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    img {
      width: 55vw;
      display: block;
      position: relative;
    }

    @include mediaMd {
      flex-grow: 0;
      img {
        width: 100%;
        display: block;
        position: relative;
      }
    }

    @include mediaXL {
      flex-grow: 2;
    }

    @include mediaLg {
      flex-shrink: 3;
    }
  }

  @include mediaMd {
    flex-direction: column;
  }
}

.how-it-works {
  padding: 0 8vw;
}

.causes {
  margin: 100px auto;
  padding: 0 8vw;

  @include mediaMd {
    padding: 0 0 0 8vw;
  }

  &__grid {
    &--mobile {
      display: none;

      @include mediaMd {
        display: block;
      }
    }

    &--lg {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);

      @include mediaMd {
        display: none !important;
      }

      @include mediaLg {
        gap: 1rem;
      }
    }

    &--item {
      @include mediaMd {
        margin-right: 50px;
      }
    }
  }

  .more {
    &__causes {
      margin-top: 20px;
      float: right;

      button {
        display: flex;
        align-items: center;
        border: 1px solid rgba(33, 155, 178, 0);
        padding: 1rem;

        &:hover {
          color: $color-primary;
          border: 1px solid $color-primary !important;
        }
      }

      @include mediaMd {
        float: left;
        text-align: center;
      }
    }
  }
}

.short__intro {
  background: $color-primary-light url("../../public/short-intro-bg.svg")
    no-repeat center/cover;
  background-position: 0 54%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  &--container {
    position: relative;
    padding: 3rem 0 1rem 0;
    display: flex;
    flex-flow: column;
    align-items: center;

    h1 {
      text-transform: uppercase;
      font-size: 32px;
      font-weight: bold;

      @include mediaMd {
        margin: 0 1.5rem;
        text-align: center;
        font-size: 1.4rem !important;
      }
    }
  }
  &--video {
    margin-top: 3rem;

    iframe {
      width: 820px;
      height: 500px;
      border: none;
      border-radius: 5px;
      margin: auto;

      @include mediaMd {
        width: 500px !important;
        height: 300px;
      }

      @include mediaSm {
        width: 350px !important;
        height: 250px;
      }
    }
  }

  &--soon {
    text-align: center;
    margin: 2rem 0 1.5rem 0;
    color: $color-primary;
  }
}

.mission {
  display: flex;
  background: #219bb2;
  &--with-image {
    img {
      width: 100%;
    }
  }
  @include mediaMd {
    height: 25vh;
    &--with-image {
      position: relative;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  &__item {
    flex-basis: 50%;
    $parent: &;
    &:nth-child(2) {
      padding: 0 1rem;
      color: $color-light;
      display: flex;
      flex-flow: column;
      justify-content: center;

      #{$parent}--title {
        position: relative;
        margin-top: -1px;
        color: $color-light;

        @include mediaMd {
          display: none;
        }

        h2 {
          font-size: 32px;
          font-weight: bold;
          color: $color-light;
          margin-bottom: 0.5rem;

          @include mediaLg {
            font-size: 25px;
          }
        }
        img {
          position: absolute;
          top: -4px;
          left: -30px;
          width: 43px;
          height: 45px;

          @include mediaLg {
            width: 2.2rem;
            height: 2.3rem;
          }
        }

        span {
          font-size: 1rem;
          font-weight: 500;
          transform: translateY(-20px) !important;

          @include mediaLg {
            font-size: 0.8rem;
          }
        }
      }

      #{$parent}--description {
        p {
          font-size: 1.7vw;
          margin: 0.5rem 0 2rem 0;

          @include mediaMd {
            margin: 0 0 1em 0;
            font-size: 2.2vw !important;
            font-weight: 300;
          }

          @include mediaLg {
            font-size: 2vw;
            margin: 0 0 1.5em 0;
          }
        }
      }

      #{$parent}--button {
        button {
          display: flex;
          align-items: center;
          font-size: 18px;
          padding: 1.2rem;
          font-weight: 500;

          &:hover {
            border-color: #fff;
          }
        }

        @include mediaMd {
          button {
            padding: 1em;
            font-size: 10pt;
          }
        }
      }
    }
  }
}
