@import "styles/_variables";
@import "styles/_mixins";

.pricingCard {
  border-radius: 8px;
  background: $color-light;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  flex-flow: column;
  color: $color-primary;

  &__header {
    p {
      margin-top: 0.5rem;
      font-size: 12px;
    }
  }

  &__container {
    padding: 1rem 0;
    display: flex;
    padding-bottom: 1.5rem;
    margin: auto;

    &__sections {
      display: flex;
      flex: 1;
      &__plan {
        margin: 0 3rem;
        display: flex;
        flex-flow: column;
        text-align: left;

        h1 {
          text-transform: uppercase;
          margin-bottom: 0.5rem;
          color: rgba($color: $color-dark, $alpha: 0.8);
          font-weight: 600;
          font-size: 41px;
        }

        h6 {
          font-size: 10px;
          color: $color-primary;
          margin-bottom: 1.5rem;
        }

        p {
          color: $color-dark;
          font-size: 12px;
          margin-bottom: 0;
        }
      }
    }
  }

  @include mediaMd {
    margin: 0;
    width: 100%;
    padding: 2rem 0;

    &__header {
      padding: 0 1rem;
    }

    &__container {
      flex-flow: column;

      &__sections {
        flex-flow: column;
        align-items: center;
        &__plan {
          align-items: center;
          text-align: center;
          margin: 0 2rem;
        }
      }
    }
  }
}
