@import "styles/_variables";
@import "styles/_mixins";

.pricingCard {
  background: $color-light;
  position: relative;
  padding: 20px;
  margin: auto 0;
  border: 1px solid #3c3f5931;
  border-radius: 6px;

  @include mediaMd {
    margin: 0;
    margin-right: 0.5rem;
  }

  &__details {
    text-align: center;
    min-height: 300px;
    display: grid;
    place-content: center;
    margin-top: 0.5rem;

    &__fee {
      margin-top: 3.5rem;
      text-transform: uppercase;
      font-size: 20pt;
      color: lighten($color-dark, 25%);

      @include mediaMd {
        margin-top: 4.5rem;
      }
    }

    &__description {
      padding: 1rem;
      font-size: 0.7rem;
      text-align: justify;
    }
  }

  &__hr {
    border: 0.4px solid lighten($color-dark, 50%);
    width: 100%;
  }
}

.pricing {
  &__plan {
    position: absolute;
    width: 60%;
    top: -15%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    left: 20%;
    right: 20%;
    text-align: center;
    border-radius: 8px;
    &__title {
      text-transform: uppercase;
      h2 {
        padding-top: 0.8rem;
        color: $color-light;
        font-weight: bold;
        font-size: 0.8rem !important;
      }
    }

    &__icon {
      display: inline-block;
    }
  }

  @include mediaMd {
    &__plan {
      position: absolute;
      top: -10%;
    }
  }
}
