@import "styles/_variables";

.navbar{
  background: $color-light;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  nav{
    & > * {
      margin-left: 1rem;
      font-size: 15px;
    }
    a{
      color: $color-dark;
      text-decoration: none;
      font-weight: 500;
    }
  }
  &__menuMobile{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 2rem;
    & > * {
      margin-bottom: 0.8rem;
      font-weight: 500;
      font-size: 16px
    }
  }
  @media only screen and (max-width: 768px) {
    background: #f4fafb;
    padding: 1rem;
  } 
}