@import "styles/_variables";
@import 'styles/_mixins';

.navbar{
  background: $color-light;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
  padding: 1rem 3rem;
  &__logo {
    cursor: pointer;
    max-width: 100% !important;
    width: auto !important;
  }
  nav {
    a {
      color: #333;
      text-decoration: none;
      font-weight: 500;
    }

    @include mediaMd {
      display: none;
    }
  }
  &__menuNonMobile > * {
    margin-left: 1rem;
    font-size: 15px;
  }
  &__menuMobile {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 2rem;
    & > * {
      margin-bottom: 0.8rem;
      font-weight: 500;
      font-size: 16px;
    }
  }

  &__profile{
    &__avatar {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      display: inline-block;
      margin-top: -5px;
      margin-right: 5px;
      border: 1px solid #219bb2;
    }
  }

  &__avatar__name{
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover{
      color: #000000a6 !important;
      cursor: initial;
    }
  }

  @include mediaMd {
    background: #f4fafb;
    padding: 1rem;
  }
}

.menuHamburger {
  display: none;
  position: relative;
  right: 0;
  @include mediaMd {
    display: block;
  }
}
