@import "../../../styles/dimensions.scss";
@import "../../../styles/colors.scss";

.get_started {
  background-color: $primary-ultra-light;
  min-height: 36.6vw;

  @media screen and (max-width: #{$mobile-size}) {
    min-height: 91vw;
  }

  img {
    transition: opacity 450ms;
  }

  [data-img-loading="true"] {
    opacity: 0;
  }

  [data-img-loading="false"] {
    opacity: 1;
  }

  [data-home-image-ratio] > img {
    object-fit: cover;
    pointer-events: none;
  }

  [data-home-image-ratio] {
    display: block;
    position: relative;
    width: 100%;
    [class~="ant-skeleton"] {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.02);
      [class~="ant-skeleton-image"] {
        border-radius: 6px;
        opacity: 0.5;
      }
    }
  }
  [data-home-image-ratio]::before {
    height: 0;
    content: "";
    display: block;
    padding-bottom: calc(100% / (894 / 596));
  }
  [data-home-image-ratio] > * {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
  }

  &__image {
    width: 55vw;
    overflow: hidden;
  }
  &__image_mobile {
    width: 100vw;
    overflow: hidden;
  }
  &__container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-left: $content-padding;
    padding-top: calc(#{$padding} + 15%);
    padding-bottom: calc(#{$padding} + 1rem);
    &__button {
      height: calc(#{$padding} * 2);
      width: calc(#{$padding} * 8);
    }
    &[data-size="small"] {
      h1 {
        margin-top: $padding;
      }
      [class~="ant-btn"] {
        margin-top: 0px;
        margin-bottom: $padding;
      }
    }
    &__payment {
      &__content {
        margin-top: 5px;
        width: 20rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: 22%;
        }

        [data-visa="true"] {
          height: 1.5rem;
        }
      }
    }
    @media screen and (max-width: #{$mobile-size}) {
      padding-left: $padding;
      padding-right: $padding;
      padding-top: $padding;

      &__payment {
        margin-top: 1rem;
        &__content {
          width: 17.5rem;
        }
      }
    }
  }
}
