@import "../../../styles/dimensions.scss";
@import "../../../styles/colors.scss";

.get_started {
  background-color: $primary-ultra-light;
  &__image {
    width: 55vw;
  }
  &__image_mobile {
    width: 100vw;
  }
  &__container {
    padding-left: $content-padding;
    &__button {
      margin-top: calc(#{$padding} * 2);
      height: calc(#{$padding} * 2);
      width: calc(#{$padding} * 8);
    }
    &[data-size="small"] {
      h1 {
        margin-top: $padding;
      }
      [class~="ant-btn"] {
        margin-top: 0px;
        margin-bottom: $padding;
      }
    }
    @media screen and (max-width: #{$mobile-size}) {
      padding-left: $padding;
      padding-right: $padding;
    }
  }
}
