@import "styles/_variables";
@import "styles/_mixins";
@import "../../../../styles/colors.scss";

.steps {
  &__title_separator {
    margin-bottom: 20px;
  }
  &__text_area {
    resize: none;
  }
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    strong {
      margin-right: 10px;
    }
    &__col {
      display: flex;
      flex: 1;
    }
  }

  &__maxError {
    [class~="ant-alert-message"],
    [class~="ant-alert-description"] {
      font-size: 11.5px;
    }
  }

  &__checkbox_group {
    display: flex;
    justify-content: flex-start;
    height: 2.7rem;
    margin: 1rem 0;
    margin-bottom: 0;

    [class~="ant-checkbox-wrapper"] {
      font-size: 12px;
    }
  }

  &__sub_title {
    font-size: 12px;
    display: inline-block;
    color: rgba($color: $black, $alpha: 0.8);
  }

  &__secondary {
    display: flex;
    font-size: 11px;
    margin-bottom: 0.3rem;
  }

  &__primary {
    color: $primary;
    font-size: 11.5px;
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  &__wrapper {
    position: relative;
    margin-bottom: 2rem;

    &__notice {
      position: absolute;
      top: 120%;
      color: $primary;
      font-size: 11.5px;
      display: inline-block;
    }
  }
}
