@import "styles/_variables";
@import "styles/_mixins";

.policies {
  &__overlay {
    z-index: -1;
    position: absolute;
    padding: 0;
    background: $color-primary-light url("/pricing.svg");
    width: 100%;
    height: 350px;

    @include mediaMd {
      height: 350px;
    }
  }
  &__container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;

    &__header {
      color: $color-dark;
      display: flex;
      justify-content: center;
      height: 350px;

      &__content {
        align-self: center;
        justify-self: center;
      }
      h1 {
        font-size: 25pt;
        font-weight: bold;
        color: $color-dark;
      }

      &__desc {
        margin: auto;
        width: 27rem;
        font-size: 15px;
      }
    }

    &__terms {
      margin-top: 1rem;
      margin-bottom: 4rem;
      display: flex;
      flex-flow: column;

      p {
        text-align: justify;
      }

      @include mediaLg {
        padding: 2.5em;
      }

      @include mediaXL {
        padding: 2em 21vw;
      }
    }

    @include mediaLg {
      &__header {
        padding: 3rem 1rem;

        &__desc {
          width: 55%;
        }
      }
    }

    @include mediaMd {
      padding: 0 1.5rem;
      &__header {
        margin: 2.5rem 0 1rem 0;
        padding: 0;

        h1 {
          font-size: 18pt;
          margin-bottom: 1.5rem;
        }
        &__desc {
          width: 100%;
        }
      }

      &__terms {
        padding: 0;
      }
    }
  }
}
