@import "../../../styles/colors.scss";
.share {
  &__link {
    color: $primary;
  }
  &__ussd {
    color: $primary;
    &__text {
      position: relative;
      top: -30px;
      text-align: center;
      font-size: 12pt;
    }
  }
  &__facebook {
    color: #3b5998;
  }
  &__whatsapp {
    color: #7ad06d;
  }
  &__twitter {
    color: #03a9f4;
  }
  [data-is-success="true"] {
    margin-left: 12px;
    margin-right: 12px;
    &,
    [class~="anticon"] {
      font-size: 20px;
    }
  }
}
