@import "./_variables";
@import "./mixins";

// Filter dropdown
.filterDropdown_filterDropdown__2q740 {
  .ant-select-selector {
    width: 38px !important;
    min-height: 38px !important;
    padding: 0 !important;
    background: unset !important;
    border: 1px solid $color-primary !important;

    .ant-select-selection-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      margin: 0;

      .select-icon {
        background: url("/icons/filter_blue.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
      }
    }
  }

  .ant-select-focused,
  .ant-select-open {
    background-color: rgba($color: $color-primary, $alpha: 0.5);
    border-radius: 5px !important;

    .ant-select-selection-placeholder {
      .select-icon {
        background: url("/icons/filter_white.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.ant-select-dropdown {
  width: 8rem !important;
  position: fixed;
  padding-bottom: 0;

  .filterDropdown_filterDropdown__menu__2fGUG {
    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-checkbox-group-item {
      margin-right: 0;
    }

    .ant-checkbox-group {
      display: flex;
      flex-flow: column;
      .ant-checkbox-wrapper {
        padding: 0.3rem 0.8rem;
        border-bottom: 1px solid #fff;
        margin-left: 0;
        &:hover {
          background: rgba($color: $color-primary, $alpha: 0.1);
          color: $color-primary;

          .ant-checkbox-inner {
            border-color: $color-primary;
          }
        }
      }

      .ant-checkbox-wrapper-checked {
        background-color: rgba($color: $color-primary, $alpha: 0.1);
        border-bottom: 1px solid rgba($color: $color-primary-light, $alpha: 0.8);
        color: $color-primary;

        .ant-checkbox-checked,
        .ant-checkbox-inner {
          border-color: $color-primary;
          background-color: $color-primary;
        }
      }
    }

    .ant-divider {
      margin: 0;
    }
  }
}
