@import "styles/_variables";
@import "styles/_mixins";
.causeCard {
  background: #f6f6f6;
  margin-bottom: 1rem;
  border-radius: 5px;
  &:hover,
  &:focus {
    cursor: pointer;
  }

  &__cover {
    img {
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 280px;
      max-height: 280px;
      object-fit: cover;
      object-position: inherit;

      @include mediaLg {
        height: 190px;
        max-height: 190px;
      }

      @include mediaMd {
        height: 250px;
        max-height: 250px;
      }

      @include mediaSm {
        height: 200px;
        max-height: 200px;
      }
    }
  }

  @include mediaMd {
    width: 90%;
    display: inline-block;

    &__cover {
      position: relative;
      img {
        z-index: -1;
      }
    }
  }

  &__share {
    background: transparent !important;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      background: transparent !important;
      border: none;
      outline: none;
    }

    &__text {
      color: $color-primary;
    }

    img {
      position: relative;
      top: -1px;
    }

    @include mediaLg {
      &__text {
        font-size: 11px !important;
      }
      img {
        top: -2px;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  width: 100%;
  &__body {
    padding: 0 1rem 0.2rem 1rem;
    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.2rem;
      &__causeOwner {
        $grandParent: &;
        .top {
          display: flex;
          margin-bottom: 0.3rem;
          #{$grandParent}__avatar {
            margin-top: -30px;
            width: 60px;
            height: 60px;
            border: 2px solid #fff;
            border-radius: 25px;
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
          }

          #{$grandParent}__abNameAvatar {
            width: 48px;
            height: 48px;
            margin-top: -33px;
            vertical-align: middle;
            border: 2px solid #fff;

            span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) !important;
              font-size: 14px;
            }
          }

          #{$grandParent}__verified {
            z-index: 10;
            margin: -13px 0 0 10px;
            width: 25px;
            height: 25px;
          }
        }
        span {
          font-size: 12px;
        }
      }
      &__causeTag {
        margin-top: -12px;
        z-index: 100;
      }
    }
    &__content {
      display: flex;
      flex-flow: column;
      margin-bottom: 0.8rem;
      &__actionIcon {
        align-self: flex-end;
        &__cancel {
          color: $color-secondary !important;
        }
        &__disabled {
          color: rgba(0, 0, 0, 0.25);
        }
        &__icon {
          color: #555 !important;
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
            sans-serif;
          font-size: 16pt;
          &:hover {
            font-weight: 900;
            color: black !important;
          }
        }
      }
      &__title {
        h3 {
          font-size: 18px;
          font-weight: 500;
        }
      }
      p {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 20px;
        max-height: 40px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        word-break: break-word;
      }
    }
    &__progress {
      $grandParent: &;
      margin-bottom: 0.8rem;
      &__raised,
      &__goal {
        display: flex;
        justify-content: space-between;
        h5 {
          font-weight: 400;
          font-size: 14px;
          margin: 0;
          align-items: flex-start;

          @include mediaLg {
            font-size: 12px;
          }
        }
        span {
          font-size: 11px;
          opacity: 0.5;

          @include mediaLg {
            font-size: 10px;
          }
        }
      }
      &__progressBar {
        background: #fff;
        border-radius: 5px;
        border: 0.1px solid rgba(15, 15, 15, 0.1);
        height: 9px;
        width: 100%;
        margin: 8px 0;
        #{$grandParent}__progression {
          background: #219bb2;
          height: 100%;
          border-top-left-radius: inherit;
          border-bottom-left-radius: inherit;
        }
      }
    }
    &__extra {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 0.7em;
      }
      &__ratings {
        display: flex;
        span {
          margin-right: 5px;
        }

        @include mediaLg {
          font-size: 14px !important;
        }
      }
      &__share {
        display: flex;
        button {
          border: none;
          background: transparent;
          box-shadow: none;
          img {
            width: 20px;
            margin-top: -10px;
          }
        }
      }
    }
  }
  &__footer {
    border-top: 0.5px solid #33333338;
    padding: 0.8rem;
    text-align: center;
    a {
      color: #444;
      font-size: 13px;
      font-weight: 600;
      text-decoration: underline;
    }

    p {
      margin: 0;
      font-size: 13px;
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.25);
      padding: 0.25rem;
    }

    @include mediaLg {
      padding: 0.5rem;
    }
  }
}
