@import "styles/_variables";
@import "styles/_mixins";
.causeCard {
  background: #f6f6f6;
  min-height: 28rem;
  &:hover,
  &:focus {
    cursor: pointer;
  }

  @include mediaMd {
    width: 80%;
    margin-left: 5%;
    display: inline-block;

    .cover {
      position: relative;
      img {
        z-index: -1;
      }
    }
  }

  &__share {
    background: transparent !important;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      background: transparent !important;
      border: none;
      outline: none;
    }

    &__text {
      color: $color-primary;
    }
  }

  width: 100%;
  &__body {
    padding: 0 1rem 0.2rem 1rem;
    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.2rem;
      &__causeOwner {
        $grandParent: &;
        .top {
          display: flex;
          margin-bottom: 0.3rem;
          #{$grandParent}__avatar {
            margin-top: -30px;
            width: 50px;
            height: 50px;
            border: 2px solid #fff;
            border-radius: 25px;
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
          }

          #{$grandParent}__verified {
            margin: -10px 0 0 10px;
            width: 25px;
            height: 25px;
          }
        }
        span {
          font-size: 12px;
        }
      }
      &__causeTag {
        margin-top: -12px;
        z-index: 100;
      }
    }
    &__content {
      display: flex;
      flex-flow: column;
      margin-bottom: 0.8rem;
      &__detailIcon {
        align-self: flex-end;
        &__icon {
          color: #555 !important;
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
            sans-serif;
          font-size: 16pt;
          &:hover {
            font-weight: 900;
            color: black !important;
          }
        }
      }
      &__title {
        h3 {
          font-size: 15px;
          font-weight: 500;
        }
      }
      p {
        font-size: 12px;
      }
    }
    &__progress {
      $grandParent: &;
      margin-bottom: 0.8rem;
      &__raised,
      &__goal {
        display: flex;
        justify-content: space-between;
        h5 {
          font-weight: 400;
          font-size: 14px;
          margin: 0;
        }
        span {
          font-size: 13px;
          opacity: 0.5;
        }
      }
      &__progressBar {
        background: #fff;
        border-radius: 5px;
        border: 0.3px solid rgba(51, 51, 51, 0.3);
        height: 8px;
        width: 100%;
        margin: 8px 0;
        #{$grandParent}__progression {
          background: #219bb2;
          height: 100%;
          border-top-left-radius: inherit;
          border-bottom-left-radius: inherit;
        }
      }
    }
    &__extra {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 0.7em;
      }
      &__ratings {
        display: flex;
        span {
          margin-right: 5px;
        }
      }
      &__share {
        display: flex;
        button {
          border: none;
          background: transparent;
          box-shadow: none;
          img {
            width: 20px;
            margin-top: -10px;
          }
        }
      }
    }
  }
  &__footer {
    border-top: 0.5px solid #33333338;
    padding: 0.8rem;
    text-align: center;
    a {
      color: #444;
      font-size: 13px;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
