.authForm {
  padding: 0rem 2.5rem ;
  width: 100%;
  &__forgotPin {
    font-size: 14px;
    margin-top: 0.5rem;
  }
  &__names {
    margin-bottom: 0 !important;
  }
  &__submit{
    height: 40px;
  }
  &__actions {
    display: flex;
    justify-content: center;
    &__signin {
      font-size: 14px;
      margin-top: 0.5em;
      img{
        margin-top: -5px;
      }
    }
  }
  &__socialAuth {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 0.5rem 0;
    &__actions {
      flex-direction: column;
      text-align: center;
      padding: 0 1rem;
      &__signin {
        margin-bottom: 0.9em;
      }
    }
    &__socialAuth {
      flex-direction: column;
      padding: 0 1rem;
      & > * {
        margin-bottom: 0.6rem;
      }
    }
  }
}
