@import "../../../styles/dimensions.scss";

.donors {
  [class~="ant-input"] {
    width: calc(100% - (#{$padding} * 2));
    margin: $padding $padding 0px $padding;
  }

  &__content {
    padding: $padding;
    overflow: hidden;
    max-height: 30vh;
    overflow-y: auto;
    &__donor {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: calc(#{$padding} / 4) 0px;
    }
  }
}
