@import "../../../styles/dimensions.scss";

.donors {
  position: relative;
  [class~="ant-input"] {
    width: calc(100% - (#{$padding} * 2));
    margin: $padding $padding 0px $padding;
  }

  [class~="ant-empty"] {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    padding: 0 $padding;
    &__donor {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: calc(#{$padding} / 4) 0px;
      padding-right: 10px;
    }

    [class~="ant-alert-closable"] {
      margin: 1rem 10px 0 0;
    }

    &__RSC {
      transition: height 0.5s ease-in-out;
    }
  }
}
