@import "../../../styles/colors.scss";
@import "../../../styles/dimensions.scss";

.cause_sider {
  &[data-affix-position] {
    transition: all 0.3s;
    position: relative;
    top: 0px;
  }
  &[data-affix-position="top"] {
    position: fixed;
    top: 100px;
    &[data-has-banner="true"] {
      top: 148px;
    }
  }
  &[data-affix-position="bottom"] {
    position: absolute;
    top: auto;
    bottom: 0px;
  }
  &__content {
    &__primary_title {
      &,
      div[class="ant-card-meta-title"] {
        color: $primary !important;
      }
      &[data-meta-not-lg="true"] * {
        font-size: 14px !important;
      }
    }
    &__sidebar {
      &__item {
        margin-top: 8px;
        [class="ant-col"] {
          > div {
            margin-bottom: 0px !important;
          }
        }
      }
      [data-not-lg="true"] {
        background-color: transparent;
        [class~="ant-card-body"] {
          padding: 0px !important;
        }
      }
      &__more {
        margin-top: 8px;
        text-align: right;
        [class~="ant-btn"] {
          padding-right: 0px;
          padding-left: 0px;
        }
        &[data-more-not-lg="true"] {
          margin-bottom: $padding;
          text-align: center;
        }
      }
    }
  }
}
