@import "../../../styles/colors.scss";
@import "../../../styles/dimensions.scss";

.cause_sider {
  [class~="ant-card"] {
    margin: 12px 0;
  }

  &__content {
    &__ussd {
      [class~="anticon"] {
        color: $primary;
        font-size: 30px;
        display: flex;
        align-items: center;
      }
    }
    &__ussd,
    &__share {
      display: flex;
      @media screen and (max-width: #{$lg-size}) {
        margin-top: calc(#{$padding}/ 2);
      }
      [class~="ant-card-body"] {
        width: 100%;
        padding: 0.5rem $padding;

        [data-share="true"] {
          padding: 0 !important;
        }

        [class~="ant-btn-icon-only"] {
          width: 32px;
        }
      }

      &__views {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      &__till_number {
        color: $primary;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    &__balance {
      cursor: pointer;
      [class~="ant-card-body"] {
        padding-bottom: 0.6rem;
      }
      [data-main-balance="true"] {
        margin-bottom: 1rem;
        [class~="ant-typography"] {
          font-weight: 600;
        }
      }

      [data-telco-balance="true"] {
        [class~="ant-typography"],
        strong {
          color: $dark;
          font-size: 11.5px;
          margin-bottom: 0;
        }

        [class~="ant-typography"] {
          margin-left: 1.2rem;
        }
        strong {
          font-size: 12px;
        }
      }

      [data-cards-balance="true"] {
        [class~="ant-typography"],
        strong {
          color: $dark;
          font-size: 11.5px;
          margin-bottom: 0;
        }

        [class~="ant-typography"] {
          margin-left: 1.2rem;
        }
        strong {
          font-size: 12px;
        }
      }

      [data-value="true"] {
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
      }

      [class~="ant-collapse-item"] {
        padding-bottom: 0.6rem;
      }

      [class~="ant-collapse-header"] {
        padding: 0 !important;
        padding-bottom: 0.4rem !important;
      }

      [class~="ant-collapse-arrow"] {
        padding: 0 !important;
        font-size: 11px !important;
        color: $dark !important;
        top: 3px !important;
        left: 0 !important;
        right: 28rem !important;
      }

      [class~="ant-collapse-content-box"] {
        display: flex;
        flex-flow: column;
        align-content: flex-end;
        align-items: flex-end;
        padding-bottom: 0 !important;
        [class~="ant-typography"] {
          color: $dark;
          font-size: 11px;
        }
      }

      @media screen and (max-width: #{$lg-size}) {
        margin-top: calc(#{$padding}/ 2);

        [class~="ant-collapse-arrow"] {
          right: 45rem !important;
        }
      }
    }

    &__primary_title {
      &,
      div[class="ant-card-meta-title"] {
        color: $primary !important;
        margin-bottom: 0.5rem;
      }
      &[data-meta-not-lg="true"] * {
        font-size: 14px !important;
      }
    }
    &__sidebar {
      &__button {
        margin-bottom: calc(#{$padding} / 2);
      }

      [data-scrolled="scrolled"] {
        [class~="ant-affix"] {
          background-color: $primary-ultra-light;
        }
      }
      &__item {
        margin-top: 8px;
        [class="ant-col"] {
          > div {
            margin-bottom: 0px !important;
          }
        }

        &:hover {
          background: $primary-ultra-light;
        }

        &__donationTime {
          font-size: 8px;
        }
      }
      [data-not-lg="true"] {
        background-color: transparent;
        [class~="ant-card-body"] {
          padding: 0px !important;
        }
      }
      &__more {
        margin-top: 8px;
        text-align: right;
        [class~="ant-btn"] {
          padding-right: 0px;
          padding-left: 0px;
        }
        &[data-more-not-lg="true"] {
          margin-bottom: $padding;
          text-align: center;
        }
      }
    }
  }
}
