@import "../../styles/colors.scss";

.profile {
  &__success {
    text-align: center;
  }
  &__title {
    text-align: center;
    &__icon {
      margin-bottom: -10px;
    }
  }
  &__badge {
    cursor: pointer;
    opacity: 1;
    &:hover {
      opacity: 0.9;
    }
    [class~="anticon"] {
      transform: none !important;
      left: 34px;
      top: 34px;
      background-color: $primary;
      color: $white;
      height: 22px;
      width: 22px;
      font-size: 12px;
      padding-top: 4px;
      box-sizing: border-box;
      border-radius: 11px;
    }
  }
}
