@import "styles/_variables";
@import "styles/_mixins";

.causePopover {
  div:first-child {
    margin: 0;
  }

  &__rating {
    display: flex;
    flex-flow: column;
    &:hover,
    &:focus {
      cursor: pointer;
    }
    &__count {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      i {
        font-size: 16px;
      }

      h4 {
        line-height: 1;
        font-size: 18pt;
        margin-bottom: 0;
        color: $color-dark;
        text-align: center;
      }
    }
    &__users {
      display: flex;
      font-size: 11px;
      justify-content: center;
      svg {
        margin-right: 5px;
      }
    }
  }
}
