@import "../../styles/colors.scss";
@import "../../styles/dimensions.scss";

.causes {
  &__pagination {
    border: 1px solid $border;
    padding: $padding;
    margin: 0 !important;

    [class~="ant-pagination"] {
      * {
        font-family: Poppins, sans-serif;
        font-weight: 600;
      }
    }
  }
}
