@import "../../styles/colors.scss";
@import "../../styles/dimensions.scss";

.causes {
  &__pagination {
    border: 1px solid $border;
    padding: $padding;
    margin: 0 !important;

    [class~="ant-pagination"] {
      * {
        font-family: Poppins, sans-serif;
      }
    }
  }
  &__filters {
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-wrap: nowrap;
    overflow-x: auto;

    span {
      white-space: nowrap;
    }
  }
}
