.sectionTitle {
    margin: 30px 10%;
    position: relative;

    h2{
        text-transform: uppercase;
        margin: auto 25px;
    }

    img{
        position: absolute;
        top: -10px;
        width: 35px;
        height: 35px;
        left: 25px;
    }
}
