@import "styles/_variables";
@import "styles/_mixins";

.pricing {
  &__overlayTop {
    z-index: -1;
    position: absolute;
    padding: 0;
    background: $color-primary-light url("/pricing.svg");
    width: 100%;
    height: 480px;

    @include mediaMd {
      height: 350px;
    }
  }

  &__overlayBottom {
    z-index: -2;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 480px;
    height: 100%;
    overflow-y: visible;
    background-image: url("/pricing-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    &__header {
      color: $color-dark;
      padding: 5rem;
      padding-bottom: 1.2rem;
      h1 {
        font-size: 25pt;
        font-weight: bold;
        color: $color-dark;
      }

      &__desc {
        margin: auto;
        width: 27rem;
        font-size: 15px;
      }
    }

    &__card {
      display: flex;
      flex-flow: column;

      @include mediaLg {
        padding: 2.5em;
      }

      @include mediaXL {
        padding: 2em 21vw;
      }
    }

    &__faq {
      margin-top: 2rem;
      margin-bottom: 4rem;
      display: flex;
      flex-flow: column;
      h1 {
        align-self: flex-start;
        color: $color-dark;
        font-weight: bold;
      }

      @include mediaLg {
        padding: 2.5em;
      }

      @include mediaXL {
        padding: 2em 21vw;
      }
    }

    @include mediaLg {
      &__header {
        padding: 3rem 1rem;

        &__desc {
          width: 55%;
        }
      }
      &__card {
        margin-top: 1rem;
        width: 100%;
      }
    }

    @include mediaMd {
      padding: 0 1.5rem;
      &__header {
        margin: 2.5rem 0 1rem 0;
        padding: 0;

        h1 {
          font-size: 18pt;
          margin-bottom: 1.5rem;
        }
        &__desc {
          width: 100%;
        }
      }

      &__card {
        width: 100%;
      }

      &__faq {
        padding: 0;
      }
    }
  }
}
