.accessCode {
  &__input {
    width: 40px;
    text-align: center;
  }
  &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  &__input[type=number] {
    -moz-appearance: textfield;
  }
}
