@import "../../styles/dimensions.scss";
@import "../../styles/colors.scss";

.layout {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: $primary-ultra-light;
  &__banner {
    background-color: rgba($banner-bg, 0.72);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    height: $banner-height;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    padding: 0px $content-padding;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: #{$mobile-size}) {
      padding: 0px $mobile-content-padding;
      [class~="TypographyParagraph"] {
        height: 48px;
        overflow: hidden;
        position: relative;
        p {
          position: absolute;
          height: 100%;
          line-height: 50px;
          text-align: left;
          -moz-transform: translateX(0%);
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
          -moz-animation: scroll-left 20s linear infinite;
          -webkit-animation: scroll-left 20s linear infinite;
          animation: scroll-left 20s linear infinite;
        }
      }

      @keyframes scroll-left {
        0% {
          -moz-transform: translateX(50%);
          -webkit-transform: translateX(50%);
          transform: translateX(50%);
        }

        100% {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
      }
    }
    &[data-backdrop-not-supported="true"] {
      background-color: rgba($banner-bg, 0.98);
    }
    [class~="TypographyParagraph"] {
      display: flex;
      flex: 1;
      [class~="ant-typography"] {
        margin: 0px 0px;
        text-align: left;
        color: $white;
        font-weight: 300;
        &,
        * {
          font-size: 14px;
        }
        p {
          margin-bottom: 0px;
        }
        a,
        strong {
          font-weight: 600;
          color: $white;
        }
        a {
          text-decoration: underline;
          opacity: 1;
          transition: opacity 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    & > [class~="anticon"],
    [class~="ant-btn"] {
      * {
        color: $white;
      }
    }
    & > [class~="anticon"] {
      margin-left: -6px;
      margin-right: calc(#{$padding} * 0.6);
      font-size: 32px;
    }
    [class~="ant-btn"] {
      margin-right: -8px;
    }
  }
  &__header {
    transition: all 0.6s;
    background-color: rgba($primary-ultra-light, 0.72);
    &[data-backdrop-not-supported="true"] {
      background-color: rgba($primary-ultra-light, 0.98);
    }
    &[data-has-banner="true"] {
      top: $banner-height;
    }
    position: fixed;
    width: 100vw;
    height: $header-height;
    z-index: 99;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px $content-padding;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    &[data-scroll="scrolled"],
    &[data-scroll="over"] {
      -webkit-box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.1);
      &[data-is-category="true"] {
        height: calc(#{$header-height} * 1.5);
      }
      [data-row-category] {
        height: calc(#{$header-height} / 2);
      }
    }
    &[data-scroll="scrolled"] {
      background-color: rgba($primary-ultra-light, 0.72);
      &[data-backdrop-not-supported="true"] {
        background-color: rgba($primary-ultra-light, 0.98);
      }
    }
    &[data-scroll="over"] {
      background-color: rgba($white, 0.72);
      &[data-backdrop-not-supported="true"] {
        background-color: rgba($white, 0.98);
      }
    }
    &__row {
      width: 100%;
      height: 100%;
      [data-create-button] {
        transform: translateX(-32px);
        opacity: 0;
        pointer-events: none;
        &[data-create-button="over"] {
          transform: translateX(0px);
          opacity: 1;
          pointer-events: all;
        }
      }
      & > [class~="ant-col"] {
        // &:first-child {
        //   max-width: calc(100vw - (#{$mobile-logo-size} + (#{$padding} * 4)));
        // }
        & > a {
          & > img {
            width: $logo-size;
            @media screen and (max-width: #{$mobile-size}) {
              width: $mobile-logo-size;
            }
          }
        }
      }
      &__user {
        border-bottom-color: transparent !important;
        &__avatar {
          margin-right: 4px;
          &[class~="ant-skeleton"] {
            pointer-events: none;
            margin-right: 0px;
            [class~="ant-skeleton-avatar"] {
              margin-top: calc((#{$header-height} - 48px) / 2);
            }
          }
        }
        &__name {
          max-width: 120px;
        }
      }
      &__menu {
        background-color: transparent;
        border-bottom: none;
        & > li {
          @media screen and (min-width: #{$lg-size}) {
            height: $header-height;
            line-height: $header-height;
          }
          margin-right: 0px !important;
          [class~="anticon-down"] {
            margin-right: 0px !important;
            font-size: 0.8em;
          }
        }
      }
      &__category {
        width: 100%;
        height: $header-height;
        transition: height 0.6s;
        [class~="ant-menu"] {
          background-color: transparent;
          border-bottom: none;
          & > li {
            height: calc(#{$header-height} / 2);
            line-height: calc(#{$header-height} / 2);
            margin-left: 0px !important;
          }
        }
      }
    }
    &[data-is-category="true"] {
      height: calc(#{$header-height} * 2);
    }
    [data-main-menu-trigger] {
      margin-right: -12px;
    }
    @media screen and (max-width: #{$mobile-size}) {
      height: $mobile-header-height;
      padding: 0px $mobile-content-padding;
      &[data-is-category="true"] {
        height: calc(#{$mobile-header-height} * 2);
      }
      &[data-scroll="scrolled"],
      &[data-scroll="over"] {
        &[data-is-category="true"] {
          height: calc(#{$mobile-header-height} * 1.5);
        }
        [data-row-category] {
          height: $mobile-header-height;
        }
      }
    }
    @media screen and (max-width: #{$lg-size}) {
      &__row {
        &__user {
          [class~="ant-typography"],
          [class~="ant-dropdown-menu-submenu-arrow"] {
            max-width: 96px;
            line-height: 32px;
          }
        }
        &__menu {
          background-color: $white;
          min-width: 160px;
          &__sign_in,
          &__sign_up {
            margin: 6px 12px 6px 12px;
          }
        }
      }
      [data-search-col] {
        width: 64px;
        position: relative;
        height: 32px;
        &[data-search-col="scrolled"] {
          height: 24px;
          [class~="ant-input-affix-wrapper"] {
            width: 32px;
          }
        }
        [class~="ant-input-affix-wrapper"] {
          position: absolute;
          top: 0px;
          right: 12px;
          width: 40px;
          [class~="ant-input-suffix"] {
            display: none;
          }
          &[class~="ant-input-affix-wrapper-focused"] {
            width: calc(33.33vw - (#{$content-padding} + 12px));
            @media screen and (max-width: #{$lg-size}) {
              width: calc(50vw - (#{$content-padding} + 12px));
            }
            @media screen and (max-width: #{$mobile-size}) {
              width: calc(100vw - (#{$padding} * 2));
            }
            [class~="ant-input-suffix"] {
              display: flex;
            }
          }
        }
      }
    }
  }
  &__content {
    background-image: url(/images/abstract-bg.svg);
    background-color: $white !important;
    margin-top: $header-height;
    &[data-has-banner="true"] {
      margin-top: calc(#{$header-height} + #{$banner-height});
    }
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    &[data-is-form="true"] {
      background-color: $primary-ultra-light !important;
      background-image: url(/images/background.svg);
      background-repeat: no-repeat;
    }
    background-size: 100% 100%;
    &[data-is-category="true"] {
      margin-top: calc(#{$header-height} * 2);
      &[data-has-banner="true"] {
        margin-top: calc((#{$header-height} * 2) + #{$banner-height});
      }
    }
    &[data-is-error="true"] {
      background-color: $primary-ultra-light !important;
    }
    @media screen and (max-width: #{$mobile-size}) {
      margin-top: $mobile-header-height;
      &[data-has-banner="true"] {
        margin-top: calc(#{$mobile-header-height} + #{$banner-height});
      }
      &[data-is-category="true"] {
        margin-top: calc(#{$mobile-header-height} * 2);
        &[data-has-banner="true"] {
          margin-top: calc((#{$mobile-header-height} * 2) + #{$banner-height});
        }
      }
    }
  }
  &__footer {
    background-color: $white !important;
    background-color: $white;
    padding: $padding $content-padding;
    [class~="footer-item"] {
      text-align: center;
      [class~="logo"] {
        width: 180px;
        height: auto;
      }
      [class~="copy"] {
        margin-top: calc(#{$padding} * 0.5);
        margin-bottom: calc(#{$padding} * 0.2);
      }
      [class~="ant-menu-horizontal"] {
        text-align: center;
        border-bottom-color: transparent;
      }
      [class~="ant-btn-text"] {
        width: 48px;
        > span {
          font-size: 20px;
          transition: all 0.3s;
        }
        &:hover {
          [class~="twitter"] {
            color: $twitter;
          }
          [class~="instagram"] {
            color: $instagram;
          }
          [class~="facebook"] {
            color: $facebook;
          }
          [class~="youtube"] {
            color: $youtube;
          }
        }
      }
    }
    @media screen and (max-width: #{$sm-mobile-size}) {
      padding: $padding 0;
      [class~="ant-menu-item-only-child"] {
        font-size: 3.6vw;
        margin: 0 12px !important;
      }
    }
  }
}
