@import "styles/_mixins";
.pageTitle {
  position: relative;

  &__title {
    position: relative;
    text-transform: capitalize;
    font-size: 20pt;
    font-weight: bold;
    font-style: normal;
    line-height: 48px;
    margin: 0;
    z-index: 1;
    @include mediaMd {
      font-size: 18pt;
    }
  }

  img {
    position: absolute;
    top: -18px;
    width: 42px;
    height: 42px;
    left: 2px;

    @include mediaMd {
      top: -35%;
    }
  }
}
