@import "./utils.scss";

//Small Devices
@mixin mediaSm {
  @media (max-width: $mobile) {
    @content;
  }
}

//Medium (tablets)
@mixin mediaMd {
  @media (max-width: $tablet) {
    @content;
  }
}

//Small laptops and desktops
@mixin mediaLg {
  @media (max-width: $desktop-max) and (min-width: $tablet+1) {
    @content;
  }
}

//Large devices
@mixin mediaXL {
  @media (min-width: $desktop-max) and (min-width: $desktop-min) {
    @content;
  }
}

@mixin keyframe($animation_name) {
  @keyframes #{$animation_name} {
    0% {
      min-height: 0;
      max-height: 0;
      display: none;
      transform: translate(0, 0);
    }

    1% {
      min-height: 0;
      max-height: 0;
      display: block;
    }

    99% {
      min-height: none;
      max-height: 50em;
      display: block;
    }

    100% {
      min-height: none;
      max-height: none;
      display: block;
    }
  }
}

@mixin animation($animation) {
  animation: $animation 0.3s ease-in-out;
}
