$padding: 24px;
$header-height: 80px;
$mobile-header-height: 56px;
$mobile-size: 768px;
$sm-mobile-size: 576px;
$lg-size: 992px;
$xl-size: 1200px;
$content-padding: 96px;
$mobile-content-padding: 24px;
$modal-padding: 72px;
$scroll-break: 1080px;
$logo-size: 180px;
$mobile-logo-size: 120px;
$banner-height: 48px;
