@import "./_variables";
@import "./mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
  body,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  a,
  p,
  button,
  span,
  li {
    font-family: "Poppins", sans-serif;
  }
}

@import "./pages/index.scss";

* {
  box-sizing: border-box;
}

a {
  color: $color-primary;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: $color-primary;
}

.menu .anticon,
.navbar_navbar__menuMobile__2OXwc .anticon {
  vertical-align: 0.2em;
}
.navbar_navbar__menuMobile__2OXwc .anticon {
  vertical-align: 0em;
  font-size: 14px;
}

.ant-modal-close-icon {
  color: #000;
  font-size: 20px;
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;
  border-radius: 3px;
  border: none;
  &:hover,
  &:focus,
  &:active {
    background: rgba($color: $color-primary, $alpha: 0.7) !important;
    background-color: rgba($color: $color-primary, $alpha: 0.7) !important;
    color: $color-light;
    box-shadow: unset !important;
  }
}

.btn-primary-outline {
  color: $color-primary;
  border-radius: 3px;
  border: 1px solid $color-primary;
  &:hover {
    background-color: $color-primary;
    color: $color-light;
  }
}

.btn-secondary {
  color: $color-primary;
  background: rgba(33, 155, 178, 0.3);
  border-radius: 3px;
}

.children-container {
  min-height: calc(100vh - (68.5px + 245px));
}

.tag {
  background: $color-primary;
  font-size: 13px;
  text-align: center;
  padding: 3px 16px;
  border-radius: 4px;
  color: #fff;
  width: fit-content;
  height: fit-content;
}

.dv-star-rating {
  top: -3px;
}

//navbar
.navbar__menu {
  min-width: 180px !important;
  .ant-dropdown-menu-item {
    &:hover {
      background-color: transparent;
      color: $color-primary;
    }
  }
  &__logout {
    color: #eb5757;
    &:hover {
      color: #eb5757 !important;
      font-weight: 500;
    }
  }
}

.navbar__menu--last {
  width: 180px;
  top: 54px !important;
  .ant-dropdown-menu-item-divider {
    background-color: #f0f0f08f;
  }
  .avatar__profile__divider {
    background-color: #ddd;
  }
  @media only screen and (min-width: 768px) {
    right: 10px;
    left: unset !important;
  }
}

// custom input

.ant-input {
  padding: 7px 11px;
}
textarea.ant-input {
  border-radius: 5px;
}

.ant-select-selector {
  min-height: 38px;
  padding: 4px 11px !important;
  border-radius: 5px;
}

.ant-picker {
  min-height: 38px;
  border-radius: 5px;
}

.ant-upload-drag {
  background: rgba(33, 155, 178, 0.1) !important;
}

.ant-input-group {
  .ant-input-group-addon {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
}

.ant-input-group-wrapper + .input_input__label__1H7Jb {
  left: 75px !important;
  z-index: 100;
}

.authLayout_form__1BIXO {
  .input_input__label__1H7Jb {
    background: #fff;
  }
}

.ant-input-password {
  min-height: 38px;
  border-radius: 5px;
}

.ant-input:focus,
.ant-input-affix-wrapper-focused {
  border-color: #d9d9d9 !important;
  box-shadow: unset;
}

.ant-form-item-has-error {
  .input_focused__mode__16FYU {
    color: #ff4d4f !important;
  }
  .ant-form-item-explain > div::before {
    content: "";
    background: url("/icons/alert-icon.svg") no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 6px;
  }

  .ant-form-item-explain {
    margin-bottom: 10px;
  }
}

.navbar {
  &__mobile {
    display: none;
    padding: 20px;
    transform: translate3d(0, -100%, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: $color-light;
    color: $color-dark;
    transition: 0.5s ease-out;

    &.active {
      transform: translate3d(0, 0, 0);
    }

    a {
      color: $color-dark;
      text-decoration: none;
    }

    @include mediaMd {
      display: block;

      &--close {
        position: relative;
        right: 0;
        top: 15%;
        left: 90%;
      }

      &--menu {
        list-style: none;

        li {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.react-swipeable-view-container {
  div[data-swipeable] {
    width: 85% !important;
  }
}

.ant-switch-checked {
  background-color: $color-primary;
}

.ant-switch {
  margin-top: -0.5rem;
  width: 43.88px;
  height: 27px;
}

.ant-switch-loading-icon,
.ant-switch::after {
  width: 22px;
  height: 22px;
}

.ant-spin {
  .ant-spin-dot-item {
    background: $color-primary;
  }
}
